*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system;
    font-size: 16px;
    line-height: 1.5;
    color: white;
    background-color: #1f1f1f;
    padding: 4rem;
}

h1 {
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: center;
    margin-block: 0 2rem;
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    aspect-ratio: 1;
    font-size: 1.5rem;
    color: #7a7a7a;
    background-color: #373737;
    border-radius: 50%;
    transition: color 0.5s ease-in-out;
}

@property --fill{
    syntax: "<percentage>";
    inherits: true;
    initial-value: 0%;
}

a:hover{
    color: greenyellow;
    --fill: 100%;
}

a::after{
    position: absolute;
    z-index: -1;
    content: "";
    inset: -3px;
    border-radius: inherit;
    background: conic-gradient(greenyellow var(--fill), transparent var(--fill));
    transition: --fill 0.5s ease-in-out;
}